@import './mixins.module.scss';

.allPostsSection {
  min-width: 88rem;
  .addNewPost {
    @include addPostStyling;
    margin-bottom: 4rem;
  }
  .postList {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  footer {
    text-align: center;
    h4 {
      font-weight: 400;
      font-size: 1.6rem;
    }
    button {
      background-color: #ff4500;
      padding: 0.8rem 1.8rem;
      color: white;
      border: none;
      outline: none;
      line-height: 1.4em;
      border-radius: 0.4rem;
      font-family: 'Poppins', sans-serif;
    }
  }
}
.addNewPostModal {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    h1 {
      margin: 0rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    svg {
      font-size: 3rem;
      color: #c8c8c8;
      cursor: pointer;
    }
  }
  .addNewPost {
    @include addPostStyling;
    .right {
      textarea {
        height: 14.4rem !important;
        margin-bottom: 1rem;
      }
    }
  }
}
