@import './mixins.module.scss';

.rightSideContent {
  min-width: 51.2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .followRequests,
  .people {
    width: 100%;
    background-color: white;
    padding: 3rem;
    border-radius: 0.4rem;
  }

  .followRequests {
    font-size: 1.6rem;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #4f4f4f;
        font-weight: 600;
        font-size: 1.6rem;
        margin: 0rem;
      }
      a {
        color: #ff4500;
        font-weight: 500;
        cursor: pointer;
      }
    }
    hr {
      margin: 2.4rem 0rem;
      height: 0.1rem;
      border: none;
      background-color: #9c9898;
    }
    .userAccount {
      display: flex;
      align-items: flex-start;
      gap: 1.2rem;
    }
    .left {
      img {
        width: 6.8rem;
        height: 6.8rem;
        border-radius: 1rem;
      }
    }
    .right {
      h2,
      h3 {
        margin: 0rem;
        font-size: 1.6rem;
      }

      h2 {
        font-weight: 600;
      }
      h3 {
        font-weight: 400;
        color: #9c9898;
      }
    }
    .accountButtons {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      button {
        background-color: white;
        border: 0.1rem solid #9c9898;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.8rem 1.6rem;
        line-height: 1;
        cursor: pointer;
      }
      button:nth-child(2) {
        border: 0.1rem solid #ff4500;
        background-color: #ff4500;
        color: white;
      }
    }
  }
  .people {
    .suggestedPeople {
      h1 {
        color: black;
        font-weight: 600;
        font-size: 1.6rem;
        margin: 0rem;
        margin-bottom: 3.2rem;
      }
      .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      ul {
        list-style: none;
        padding: 0rem;
        margin: 0rem;
        display: flex;
        align-items: center;
        gap: 4rem;
      }
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 6rem;
        .personImage {
          position: relative;
          width: 5.8rem;
          height: 5.8rem;
          border-radius: 1rem;
          // border: 0.2rem solid #f36933;
          overflow: hidden;
          background-color: #f36933;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 0;
          img {
            // width: 100%;
            width: 5.4rem;
            height: 5.4rem;
            border-radius: 1rem;
          }
          span {
            position: absolute;
            right: -0.3rem;
            bottom: -0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.2rem;
            height: 2.2rem;
            padding: 0.4rem;
            background-color: white;
            z-index: 1;
            border-radius: 50%;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
        .personName {
          text-align: center;
        }
      }
      .seeMorePeople {
        font-size: 5rem;
        color: #5a5a5a;
        cursor: pointer;
      }
    }
    .friends {
      color: #4f4f4f;
      img {
        width: 5rem;
      }
      header {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #4f4f4f;
        h1 {
          font-weight: 500;
          margin: 0rem;
        }
        .icons {
          font-size: 4rem;
          display: flex;
          align-items: center;
          gap: 3rem;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .search {
            height: 5.4rem;
            width: 5.4rem;
            // padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            border-radius: 50%;
            svg {
              font-size: 3rem;
            }
          }
        }
      }
      ul {
        padding: 0rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .userDetails {
          display: flex;
          align-items: center;
          gap: 2rem;
          img {
            border-radius: 1rem;
          }
        }
        .lastActive {
          position: relative;
          right: 0;
          top: 0;
          bottom: 0;
          .activeNow {
            position: absolute;
            right: 0;
            width: 2rem;
            height: 2rem;
            background-color: #4caf50;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .extras {
    ul {
      padding: 0rem;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem;
        svg {
          font-size: 4rem;
          margin-left: 1rem;
          color: #388ffe;
        }
      }
      li:nth-child(2) {
        svg {
          color: #c4337d;
        }
      }
      li:nth-child(3) {
        svg {
          color: #30ad31;
        }
      }
      li:nth-child(4) {
        svg {
          color: #fdb17e;
        }
      }
    }
  }
}
